<script type="text/javascript">
//Global Variable
//Json.stringify converts JSON object to String notation
    window.initialData = <%- JSON.stringify(initialData) -%>
</script>

<%- include('header') -%>
    <div id="root">
        <%- initialMarkup -%>
    </div>
<%- include('footer') -%>